body{
  margin: 0;
  color: white;
}
.game{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(35, 49, 160, 0.5);
  position: fixed;
  width: 100%;
  
}
.intro{
  width: 50%;
  padding: 20px;
}
.choiceElements{
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  height: 50px;
  width: 40%;
  color: rgb(243, 244, 249);
  border: none;
  background-color: rgba(36, 37, 37,0.7);
  border-radius: 7px;
  font-family: 'Righteous', cursive;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0, .3);
}
.choiceElements:hover{
  background-color: rgba(0, 0, 0, 0.7);
}
.choicePicks:hover{
  background-color: rgba(127, 255, 212,0.4);
  cursor: pointer;
  color: white;
}
.wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  width: 100%;
background-color: rgba(36, 37, 37,0.7);
padding: 20px;
box-shadow: 0 4px 8px rgba(0,0,0, .3);
border-radius: 10px;
margin: 10px;
}
.playerDetails{
  display: flex;
  justify-content: space-between;
}
.input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  background-color: rgba(87, 88, 93, 0.3);
  border: solid 4px rgb(87, 88, 93);
  color: rgb(135, 145, 222);
  font-family: 'Righteous', cursive;
  border-radius: 10px;
}
.input::placeholder{
  color: rgba(135, 145, 222, 0.3);
  font-family: inherit;
}

.btn{
  background-color: rgb(87, 88, 93);
  color: rgb(195, 193, 193);
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 30px;
  margin-top: 15px;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
}
#reset{
  background-color: rgb(175, 56, 56);
  width: 40%;
  padding: 15px;
  color: black;
}

.btn:hover, #reset:hover{
  background-color: rgba(175, 56, 56, 0.4);
  color: rgb(212, 208, 208);
  cursor: pointer;
  
}

/* Video  */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.hidden{
  display: none;
}